.App {
  max-width: 1000px;
  height: 100%;
  margin: 0 auto;
}

.App__modules{
  display: flex;
  width: 100%;
}

.App__module{
  display: flex;
  flex-shrink: 0;
  flex-direction: column;
  width: 50%;
}