.Slider{
  margin: 1em 0;
}

.Slider__input{
  -webkit-appearance: none; 
  width: 100%;
  background: transparent;
}

.Slider__input:focus{
  outline: none;
}


.Slider__input:active::-webkit-slider-thumb{
    transform: scale(1.2);
}

.Slider__input::-webkit-slider-thumb{
  -webkit-appearance: none;
  border: 1px solid #AAA;
  box-shadow: 0 0 2px #EEE;
  height: 25px;
  width: 25px;
  border-radius: 100%;
  background: #ffffff;
  cursor: pointer;
  position: relative;
  top: -10px;
  transform: none;
  transition: transform 0.1s;
}

.Slider__input::-webkit-slider-runnable-track {
  width: 100%;
  height: 5px;
  cursor: pointer;
  background: #DDD;
  border-radius: 3px;
  box-shadow: inset  0 0 1px rgba(0, 0, 0, 0.5);
}

.Slider__input:active::-webkit-slider-runnable-track{
    background: #CCC;
}

.Slider__value{
    text-align: center;
    margin-top: 20px;
    font-size: 1.2em;
}
